VITE_SUPABASE_URL=https://jqkweclckepkdkselqgk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxa3dlY2xja2Vwa2Rrc2VscWdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5NDc0MDgsImV4cCI6MjA3NzUyMzQwOH0.R6zx40zzBALx1cUKygNrCzzNuvnlLf0E-UMHzm-EFDQ
